report {
  overwrite = true
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  withLabel: 'bioconductor'   { container = 'bioconductor.4.0' }
  withLabel: 'rocker'   { container = 'rocker/tidyverse:latest' }
  withLabel: 'bcftools' { container = 'bcftools.1.19' }
  withLabel: 'plink'    { container = 'plink.1.9' }
}

// Default params
params {
  // NEW
  coding  = false
  genome  = 'hg38'
  style   = 'UCSC'
  genelist= 'assests/NO_FILE'
  snplist = null
  categories = 'Common'
  fill = false

  // QC
  MAF         = 0.0005
  HWE         = 0
  F_MISSING   = 0.8
  ExcHet      = 0
  GQ          = 0
  DP          = 0
  VAF         = 0

  // Prunning
  window      = 5
  step        = 5
  rsquared    = 0.00001
  relatedness = 0.000025

  // SNPs
  chunk_width = 10000000
  chunk_size  = 10000
  N_VARS      = 500000
  N_DIMS      = 5

  // Optional processes
  modes       = 'clusters,noclusters,mds'
  fix         = true
  remove      = true
  prune       = true

  // DONOT CHANGE
  fill        = false
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile
  test {
    params {
      cohorts = "input/cohorts_input.csv"
    }
  }

  test_list {
    params {
      cohorts = "input/cohorts_input.csv"
      snplist = 'input/snplist.txt'
    }
  }
}
